<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Adlister | View Ad')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="fragments/navbar :: navbar" />
<div class="container">
    <form action="/ads/create" th:method="post" th:object="${ad}">
        Title:
        <input th:field="*{title}" />
        <br />
        Description:
        <input th:field="*{description}" />
        <br />
        <input type="submit" />
    </form>
</div>
</body>
</html>