<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head('Adlister | All Ads')">
    <meta charset="UTF-8">
    <title>All Ads</title>
</head>
<body>
    <nav th:replace="fragments/navbar :: navbar" />
    <div class="container">
        <h3>Latest ads</h3>
        <div th:if="${noAdsFound}">
            No ads were found.
        </div>
        <div th:each="ad : ${ads}">
            <h3 th:text="${ad.title}">Title</h3>
            <div th:text="${ad.description}">Description</div>
        </div>
    </div>
</body>
</html>